// 모바일
@media screen and (max-width: 479px) {
    // 메인 섹션
    .mainSection {
        padding: 0 5vw;
        .con {
            h2 {
                display: none;
            }
            .mainImg {
                width: 100%;
            }
        }
    }
    // About Section
    .aboutSection {
        .aboutBox {
            padding: 5vw 8vw;
            .aboutTitle {
                font-size: 9vw;
            }
            .imgBox {
                display: flex;
                justify-content: center;
                position: relative;
                top: 35px;
                width: 100%;

                .myPhoto {
                    width: 80%;
                }
            }
            .aboutTxtBox {
                margin-top: 15%;
                width: 100%;

                .txtTitle {
                    font-size: 6vw;
                }
                .aboutP {
                    font-size: 1.6rem;
                    word-break: keep-all;
                    line-height: 1.5;
                }
            }
        }
    }
    // 스터디 섹션 
    .studyCon {
        padding: 0 8vw;
        gap: 50px;
        
        .eduCon, .licenseCon {
            width: 100%;
            h3 {
                font-size: 6vw;
            }
            p {
                font-size: 1.6rem;
                word-break: keep-all; // 여기 고민 .. 가독성을 중시해서 단어마다 줄바꿈할지 말지를 고민하자
            }
        }
    }
    // 스킬 섹션
    .skillCon {
        padding: 5vw 8vw;
        .skillTitle {
            font-size: 9.2vw;
        }
        .flexBox {
            .iconBox {
                .iconItem {
                    font-size: 9.5vw;
                    width: 100%;
                }
            }
        }
        .dlCon {
            gap: 10px;
            dt {
                font-size: 8vw;
            }
            dd {
                font-size: 1.6rem;
                line-height: 1.5;
            }
        }
    }
    // 프로젝트 섹션
    .projectCon {
        .projectTitle {
            font-size: 9vw;
        }
        .projectBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            .rowBox {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .projectImg {
                    width: 100%;
                }
                .projectTxt {
                    .aBox {
                        .buttonBox {
                            width: 70%;
                        }
                    }
                }
            }
            h3 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.7rem;
            }
            // 바로네 펫샵
            .imacRowBox {
                display: flex;
                flex-direction: column;
                width: 100%;

                .imacImg {
                    width: 100%;
                }
                .imacProjectTxt {
                    width: 90%;
                    .imacBox {
                        .imacButtonBox {
                            width: 80%;
                        }
                    }
                }
            }
            // 조기요 섹션
            .macRowBox {
                display: flex;
                flex-direction: column;
                gap: 0;
                .macImg {
                    width: 100%;
                }
            }
        }
    }
}


/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media screen and (min-width:480px) and (max-width:767px) {
    // 메인 섹션
    .mainSection {
        padding: 0 6vw;
        font-size: 3.5vw;
        white-space: nowrap;
        .con {
            .mainImg {
                width: 62%;
            }
        }
    }
    // About Section
    .aboutSection {
        .aboutBox {
            .aboutTitle {
                font-size: 4.2rem;
            }
            .imgBox {
                display: flex;
                justify-content: center;
                width: 100%;
                position: relative;
                top: 35px;

                .myPhoto {
                    width: 60%;
                }
            }
            .aboutTxtBox {
                margin-top: 10%;
                width: 100%;

                .txtTitle {
                    font-size: 2.8rem;
                }
                .aboutP {
                    font-size: 1.8rem;
                    word-break: keep-all;
                    line-height: 1.5;
                }
            }
        }
    }
    // 스터디 섹션 
    .studyCon {
        padding: 0 12vw;
        gap: 50px;
        
        .eduCon, .licenseCon {
            width: 100%;
            h3 {
                font-size: 2.3rem;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }
    // 스킬 섹션
    .skillCon {
        .skillTitle {
            font-size: 4.2rem;
        }
        .flexBox {
            .iconBox {
                .iconItem {
                    font-size: 8.7vw;
                    width: 100%;
                }
            }
        }
        .dlCon {
            gap: 10px;
            dt {
                font-size: 3.5rem;
            }
            dd {
                font-size: 1.8rem;
                line-height: 1.5;
            }
        }
    }
    // 프로젝트 섹션
    .projectCon {
        .projectTitle {
            font-size: 4.2rem;
        }
        .projectBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            .rowBox {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .projectImg {
                    width: 100%;
                }
                .projectTxt {
                    .aBox {
                        .buttonBox {
                            width: 45%;
                        }
                    }
                }
            }
            h3 {
                font-size: 2.6rem;
            }
            p {
                font-size: 1.8rem;
            }
            // 바로네 펫샵
            .imacRowBox {
                display: flex;
                flex-direction: column;
                width: 100%;

                .imacImg {
                    width: 100%;
                }
                .imacProjectTxt {
                    width: 90%;
                    .imacBox {
                        .imacButtonBox {
                            width: 51%;
                        }
                    }
                }
            }
            // 조기요 섹션
            .macRowBox {
                display: flex;
                flex-direction: column;
                gap: 0;
                .macImg {
                    width: 100%;
                }
            }
        }
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media screen and (min-width:768px) and (max-width:1023px) { 
    // 메인 섹션
    .mainSection {
        padding: 0 6vw;
        font-size: 3.1vw;
        white-space: nowrap;
        .con {
            .mainImg {
                width: 57%;
            }
        }
    }
    // About Section
    .aboutSection {
        .aboutBox {

            .imgBox {
                display: flex;
                justify-content: center;
                width: 80%;
                position: relative;
                top: 35px;

                .myPhoto {
                    width: 55%;
                }
            }
            .aboutTxtBox {
                margin-top: 8%;
                width: 100%;
                .aboutP {
                    word-break: keep-all;
                    line-height: 1.5;
                }
            }
        }
    }
    // 스터디 섹션 
    .studyCon {
        padding: 0 12vw;
        gap: 50px;
        
        .eduCon, .licenseCon {
            width: 100%;
            h3 {
                font-size: 2.5rem;
            }
        }
    }
     // 스킬 섹션
     .skillCon {
        .skillTitle {
            font-size: 4.5rem;
        }
        .flexBox {
            .iconBox {
                .iconItem {
                    font-size: 8vw;
                    width: 100%;
                }
            }
        }
        .dlCon {
            gap: 10px;
            dt {
                font-size: 4rem;
            }
            dd {
                font-size: 2rem;
                line-height: 1.5;
            }
        }
    }
    // 프로젝트 섹션
    .projectCon {
        .projectTitle {
            font-size: 4.2rem;
        }
        .projectBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            gap: 10rem;
            .rowBox {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .projectImg {
                    width: 100%;
                }
            }
            h3 {
                font-size: 2.6rem;
            }
            p {
                font-size: 1.8rem;
            }
            // 바로네 펫샵
            .imacRowBox {
                display: flex;
                flex-direction: column;
                width: 100%;

                .imacImg {
                    width: 95%;
                }
                .imacProjectTxt {
                    width: 85%;
                    .imacBox {
                        .imacButtonBox {
                            width: 48%;
                        }
                    }
                }
            }
            // 조기요 섹션
            .macRowBox {
                display: flex;
                flex-direction: column;
                gap: 0;
                .macImg {
                    width: 100%;
                }
            }
        }
    }
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media screen and (min-width:1024px) and (max-width:1279px) { 
    // 메인 섹션
    .mainSection {
        font-size: 2.8vw;
        white-space: nowrap;
        .con {
            .mainImg {
                width: 52%;
            }
        }
    }
    // About Section
    .aboutSection {
        .aboutBox {
            .imgBox {
                display: flex;
                justify-content: center;
                width: 100%;
                position: relative;
                top: 35px;

                .myPhoto {
                    width: 35%;
                }
            }
            .aboutTxtBox {
                margin-top: 8%;
                width: 100%;
                .aboutP {
                    word-break: keep-all;
                }
            }
        }
    }
    // 스터디 섹션 
    .studyCon {
        padding: 0 12vw;
        gap: 50px;
        
        .eduCon, .licenseCon {
            width: 100%;
            h3 {
                font-size: 2.5rem;
            }
        }
    }
    // 스킬 섹션
    .skillCon {
        .skillTitle {
            font-size: 4.5rem;
        }
        .flexBox {
            .iconBox {
                .iconItem {
                    font-size: 7vw;
                    width: 100%;
                }
            }
        }
    }
    // 프로젝트 섹션
    .projectCon {
        .projectTitle {
            font-size: 4.2rem;
        }
        .projectBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            gap: 10rem;
            .rowBox {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .projectImg {
                    width: 80%;
                }
                .projectTxt {
                    .aBox {
                        .buttonBox {
                            width: 35%;
                        }
                    }
                }
            }
            h3 {
                font-size: 2.6rem;
            }
            p {
                font-size: 1.9rem;
            }
            // 바로네 펫샵
            .imacRowBox {
                display: flex;
                flex-direction: column;
                width: 100%;

                .imacImg {
                    width: 80%;
                }
                .imacProjectTxt {
                    width: 85%;
                    .imacBox {
                        .imacButtonBox {
                            width: 40%;
                        }
                    }
                }
            }
            // 조기요 섹션
            .macRowBox {
                display: flex;
                flex-direction: column;
                gap: 0;
                .macImg {
                    width: 80%;
                }
            }
        }
    }
}