html, body {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* scrollbar-color: #1e1e1e #ffffff;
  scrollbar-width: thin; */
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 10px; /* 세로 스크롤바 너비 */
}

::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}