// a,span태그시 아이콘 애니메이션 추가
@keyframes bounceUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.footerCon {
    position: relative;
    height: 100vh;
    background-color: #DAD6D3;
    padding: 0 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .footerBox {
        .textBox {
            width: 100%;
                .text {
                    font-family: 'SUIT-Regular', sans-serif;
                    font-size: 2rem;
                    opacity: 0.7;
                }
                .footerStrong {
                    font-family: 'SUIT-Medium', sans-serif;
                    font-size: 7.5rem;
                    opacity: 0.8;
                    word-break: break-word;
                }
                .mail {
                    display: inline-flex;
                    white-space: nowrap;
                    flex-direction: row;
                    align-items: center;
                    gap: 10%;
                    font-family: 'SUIT-Regular', sans-serif;
                    font-size: 2rem;
                    color: #000000;
                    text-decoration: none;
                }  
                .mailIcon {
                    font-size: 4.5rem;
                    transition: transform 0.3s ease-in-out;
             }
             .mail:hover .mailIcon {
                animation: bounceUp 0.5s ease-in-out forwards;
            }
        }
        .copyRight {
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // gap: 50rem;
            position: absolute;
            bottom: 5rem;
            width: 30%;
            
            .copyText {
                font-family: 'SUIT-Regular', sans-serif;
                font-size: 1.5rem;
                opacity: 0.8;
            }
        }
    }
}

@import "./responsive/Footer-Responsive.module.scss";